@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to ImageWizard</h1>
        <p>Use the standalone version or middleware.</p>

        <a href="https://github.com/usercode/ImageWizard" class="btn btn-success">Go to GitHub</a>

        <h2>SVG transforming</h2>
        <p>@@Url.ImageWizard().FetchLocalFile("/img/dot-net-core.svg").BuildUrl()</p>
        <p>@Url.ImageWizard().FetchLocalFile("/img/dot-net-core.svg").BuildUrl()</p>

        <div class="row">
            <div class="col-lg-3">
                <p>Original (width=100px, height=100px)</p>
                <img src="@Url.ImageWizard().FetchLocalFile("/img/dot-net-core.svg").BuildUrl()" />
            </div>
            <div class="col-lg-3">
                <p>RemoveSize()</p>
                <img src="@Url.ImageWizard().FetchLocalFile("/img/dot-net-core.svg").SvgRemoveSize().BuildUrl()" />
            </div>
            <div class="col-lg-3">
                <p>Rotate(45.0) </p>
                <img src="@Url.ImageWizard().FetchLocalFile("/img/dot-net-core.svg").SvgRemoveSize().SvgRotate(45).BuildUrl()" />
            </div>
            <div class="col-lg-3">
                <p>Blur() </p>
                <img src="@Url.ImageWizard().FetchLocalFile("/img/dot-net-core.svg").SvgRemoveSize().SvgBlur().BuildUrl()" />
            </div>
        </div>

        <h2>Fetch local file (from wwwroot folder)</h2>
        <p>@@Url.ImageWizard().FetchLocalFile("/img/bat-eared-fox.jpg").Resize(400,400).BuildUrl()</p>
        <p>@Url.ImageWizard().FetchLocalFile("/img/bat-eared-fox.jpg").Resize(400, 400).BuildUrl()</p>

        <div class="row">
            <div class="col-lg-3">
                <img src="@Url.ImageWizard().FetchLocalFile("/img/bat-eared-fox.jpg").Resize(400,400).BuildUrl()" class="auto-scale" />
                <p>Resize(400,400)</p>
            </div>
            <div class="col-lg-3">
                <img src="@Url.ImageWizard().FetchLocalFile("/img/bat-eared-fox.jpg").Resize(400,400).RoundedCorner(1.0f).BackgroundColor(1.0,1.0,1.0).BuildUrl()" class="auto-scale" />
                <p>RoundedCorner(1.0)</p>
            </div>
            <div class="col-lg-3">
                <img src="@Url.ImageWizard().FetchLocalFile("/img/bat-eared-fox.jpg").Resize(400,400).Grayscale().BuildUrl()" class="auto-scale" />
                <p>Grayscale()</p>
            </div>
            <div class="col-lg-3">
                <img src="@Url.ImageWizard().FetchLocalFile("/img/bat-eared-fox.jpg").Resize(400,400).Blur().BuildUrl()" class="auto-scale" />
                <p>Blur()</p>
            </div>
        </div>

        <h2>Fetch static file by file loader</h2>

        <p>@@Url.ImageWizard().File("/meerkat.jpg").Resize(400,400).BuildUrl()</p>
        <p>@Url.ImageWizard().File("/meerkat.jpg").Resize(400, 400).BuildUrl()</p>

        <div class="row">
            <div class="col-lg-4">
                <img src="@Url.ImageWizard().File("/meerkat.jpg").Resize(400, 400).BuildUrl()" class="auto-scale" />
                <p>Default</p>
            </div>
            <div class="col-lg-4">
                <img src="@Url.ImageWizard().File("/meerkat.jpg").Resize(400, 400).Grayscale().BuildUrl()" class="auto-scale" />
                <p>Grayscale</p>
            </div>
            <div class="col-lg-4">
                <img src="@Url.ImageWizard().File("/meerkat.jpg").Resize(400, 400).Blur().BuildUrl()" class="auto-scale" />
                <p>Blur</p>
            </div>
        </div>

        <h2>Fetch remote image</h2>

        <p>@@Url.ImageWizard().Fetch("https://upload.wikimedia.org/wikipedia/commons/b/b7/Europe_topography_map.png").Resize(400,400).BuildUrl()</p>
        <p>@Url.ImageWizard().Fetch("https://upload.wikimedia.org/wikipedia/commons/b/b7/Europe_topography_map.png").Resize(400, 400).BuildUrl()</p>

        <div class="row">
            <div class="col-lg-4">
                <img src="@Url.ImageWizard().Fetch("https://upload.wikimedia.org/wikipedia/commons/b/b7/Europe_topography_map.png").Resize(400,400).BuildUrl()" class="auto-scale" />
                <p>Default</p>
            </div>
            <div class="col-lg-4">
                <img src="@Url.ImageWizard().Fetch("https://upload.wikimedia.org/wikipedia/commons/b/b7/Europe_topography_map.png").Resize(400,400).Grayscale().BuildUrl()" class="auto-scale" />
                <p>Grayscale</p>
            </div>
            <div class="col-lg-4">
                <img src="@Url.ImageWizard().Fetch("https://upload.wikimedia.org/wikipedia/commons/b/b7/Europe_topography_map.png").Resize(400,400).Blur().BuildUrl()" class="auto-scale" />
                <p>Blur</p>
            </div>
        </div>

        <h2>Fetch youtube image</h2>

        <p>@@Url.ImageWizard().Youtube("6QBiWY09k8g").Resize(400,400).BuildUrl()</p>
        <p>@Url.ImageWizard().Youtube("6QBiWY09k8g").Resize(400, 400).BuildUrl()</p>

        <div class="row">
            <div class="col-lg-4">
                <img src="@Url.ImageWizard().Youtube("6QBiWY09k8g").Resize(600,600).BuildUrl()" class="auto-scale" />
                <p>Default</p>
            </div>
            <div class="col-lg-4">
                <img src=@Url.ImageWizard().Youtube("6QBiWY09k8g").Resize(600,600).Grayscale().BuildUrl() class="auto-scale" />
                <p>Grayscale</p>
            </div>
            <div class="col-lg-4">
                <img src=@Url.ImageWizard().Youtube("6QBiWY09k8g").Resize(600,600).Blur().BuildUrl() class="auto-scale" />
                <p>Blur</p>
            </div>
        </div>

        <h2>Fetch gravatar image</h2>

        <p>@@Url.ImageWizard().Gravatar("MyEmailAddress@example.com").Resize(200,200).BuildUrl()</p>
        <p>@Url.ImageWizard().Gravatar("MyEmailAddress@example.com").Resize(200, 200).BuildUrl()</p>

        <div class="row">
            <div class="col-lg-4">
                <img src="@Url.ImageWizard().Gravatar("MyEmailAddress@example.com").Resize(200,200).BuildUrl()" class="auto-scale" />
                <p>Default</p>
            </div>
            <div class="col-lg-4">
                <img src=@Url.ImageWizard().Gravatar("MyEmailAddress@example.com").Resize(200,200).Grayscale().BuildUrl() class="auto-scale" />
                <p>Grayscale</p>
            </div>
            <div class="col-lg-4">
                <img src=@Url.ImageWizard().Gravatar("MyEmailAddress@example.com").Resize(200,200).Blur().BuildUrl() class="auto-scale" />
                <p>Blur</p>
            </div>
        </div>
    </div>
