@page
@model IndexModel
@{
    ViewData["Title"] = "Image processing webservice based on ASP.NET Core and ImageSharp / SkiaSharp / SvgNet / DocNET";
}

<div class="text-center">
    <h1 class="display-4">ImageWizard <br /> » Image processing webservice based on ASP.NET Core and ImageSharp / SkiaSharp</h1>
    <br />

    <div>
        <ul style="text-align:left">
            <li>Based on ASP.NET and ImageSharp / SkiaSharp / SvgNet / DocNET</li>
            <li>Different data loaders: Http, File, YouTube (thumbnail), Gravatar, OpenGraph</li>
            <li>Different data caches: File, Distributed cache, MongoDB cache</li>
            <li>Image filters: resize, crop, rotate,..</li>
            <li>Common image effects like grayscale and blur are available</li>
            <li>Pdf filters: page-to-image for documents</li>
            <li>Url is protected by a HMACSHA256 signature to prevent DDoS attacks</li>
            <li>Can handle the device pixel ratio (DPR)</li>
            <li>Support for cache control and ETag</li>
            <li>Enable range processing by http request</li>
            <li>Use RecyclableMemoryStream for smarter memory management (IStreamPool)</li>
        </ul>
    </div>

    <p>Use the standalone version or middleware.</p>

    <a href="https://github.com/usercode/ImageWizard" class="btn btn-success">Go to GitHub</a>

    <h2>OpenGraph loader</h2>
    <p>@@Url.ImageWizard().OpenGraph("https://github.com/usercode/ImageWizard").BuildUrl()</p>
    <p>@Url.ImageWizard().OpenGraph("https://github.com/usercode/ImageWizard").BuildUrl()</p>

    <img src="@Url.ImageWizard().OpenGraph("https://github.com/usercode/ImageWizard").BuildUrl()" />
    
    <h2>Screenshot loader</h2>

    <p>@@Url.ImageWizard().Screenshot("https://github.com").BuildUrl()</p>
    <p>@Url.ImageWizard().Screenshot("https://github.com").BuildUrl()</p>
       
    <img src="@Url.ImageWizard().Screenshot("https://github.com").BuildUrl()" />

    <h2>SVG transforming</h2>
    <p>@@Url.ImageWizard().FetchLocalFile("img/dot-net-core.svg").BuildUrl()</p>
    <p>@Url.ImageWizard().FetchLocalFile("img/dot-net-core.svg").BuildUrl()</p>

    <div class="row">
        <div class="col-lg-3">
            <p>Original (width=100px, height=100px)</p>
            <img src="@Url.ImageWizard().FetchLocalFile("img/dot-net-core.svg").BuildUrl()" />
        </div>
        <div class="col-lg-3">
            <p>RemoveSize()</p>
            <img src="@Url.ImageWizard().FetchLocalFile("img/dot-net-core.svg").AsSvg().RemoveSize().BuildUrl()" />
        </div>
        <div class="col-lg-3">
            <p>Rotate(45.0) </p>
            <img src="@Url.ImageWizard().FetchLocalFile("img/dot-net-core.svg").AsSvg().RemoveSize().Rotate(45).BuildUrl()" />
        </div>
        <div class="col-lg-3">
            <p>Blur() </p>
            <img src="@Url.ImageWizard().FetchLocalFile("img/dot-net-core.svg").AsSvg().RemoveSize().Blur().BuildUrl()" />
        </div>
        <div class="col-lg-3">
            <p>Grayscale() </p>
            <img src="@Url.ImageWizard().FetchLocalFile("img/dot-net-core.svg").AsSvg().Grayscale().BuildUrl()" />
        </div>
        <div class="col-lg-3">
            <p>Invert() </p>
            <img src="@Url.ImageWizard().FetchLocalFile("img/dot-net-core.svg").AsSvg().Invert().BuildUrl()" />
        </div>
        <div class="col-lg-3">
            <p>Saturate(0.3) </p>
            <img src="@Url.ImageWizard().FetchLocalFile("img/dot-net-core.svg").AsSvg().Saturate(0.3).BuildUrl()" />
        </div>
        <div class="col-lg-3">
            <p>Combine filters (grayscale, rotate, invert)</p>
            <img src="@Url.ImageWizard().FetchLocalFile("img/dot-net-core.svg").AsSvg().Grayscale().Rotate(90).Invert().BuildUrl()" />
        </div>
    </div>

    <h2>ImageSharp filters</h2>

    @{
        string fileImageSharpFilter = "img/bat-eared-fox.jpg";
    }

    <div class="row">
        <div class="col-md-2">
            <p>resize(400,800,pad)</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,800, Utils.ResizeMode.Pad).BuildUrl()" />
        </div>
        <div class="col-md-2">
            <p>resize(400,800,crop)</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,800, Utils.ResizeMode.Crop).BuildUrl()" />
        </div>
        <div class="col-md-2">
            <p>resize(400,800,stretch)</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,800, Utils.ResizeMode.Stretch).BuildUrl()" />
        </div>
        <div class="col-md-2">
            <p>resize(400,800,min)</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,800, Utils.ResizeMode.Min).BuildUrl()" />
        </div>
        <div class="col-md-2">
            <p>resize(400,800,max)</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,800, Utils.ResizeMode.Max).BuildUrl()" />
        </div>
        <div class="col-md-3">
            <p>blackwhite()</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,400).BlackWhite().BuildUrl()"  />
        </div>
        <div class="col-md-3">
            <p>Grayscale()</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,400).Grayscale().BuildUrl()" />
        </div>
        <div class="col-lg-3">
            <p>blur()</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,400).Blur().BuildUrl()" />
        </div>
        <div class="col-md-3">
            <p>rotate(90.0)</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,400).Rotate(90).BuildUrl()" />
        </div>
        <div class="col-md-3">
            <p>rotate(180.0)</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,400).Rotate(180).BuildUrl()" />
        </div>
        <div class="col-md-3">
            <p>rotate(270.0)</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,400).Rotate(270).BuildUrl()" />
        </div>
        <div class="col-lg-3">
            <p>flip(vertical)</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,400).Flip(Utils.FlipMode.Vertical).BuildUrl()" />
        </div>
        <div class="col-lg-3">
            <p>flip(horizontal)</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,400).Flip(Utils.FlipMode.Horizontal).BuildUrl()" />
        </div>
        <div class="col-lg-3">
            <p>invert()</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,400).Invert().BuildUrl()" />
        </div>
        <div class="col-lg-3">
            <p>brightness(0.5)</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,400).Brightness(0.5f).BuildUrl()" />
        </div>
        <div class="col-lg-3">
            <p>brightness(0.5)</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Resize(400,400).Contrast(0.5f).BuildUrl()" />
        </div>
        <div class="col-lg-3">
            <p>crop(0.17, 0.22, 0.3, 0.3)</p>
            <img src="@Url.ImageWizard().FetchLocalFile(fileImageSharpFilter).AsImage().Crop(0.17f, 0.22f, 0.30f, 0.30f).Resize(400,400).BuildUrl()" />
        </div>
    </div>

    <h2>Fetch local file (from wwwroot folder)</h2>
    <p>@@Url.ImageWizard().FetchLocalFile("img/meerkat.jpg").AsImage().Resize(400,400).BuildUrl()</p>
    <p>@Url.ImageWizard().FetchLocalFile("img/meerkat.jpg").AsImage().Resize(400, 400).BuildUrl()</p>

    <div class="row">
        <div class="col-lg-4">
            <img src="@Url.ImageWizard().FetchLocalFile("img/meerkat.jpg").AsImage().Resize(400,400).BuildUrl()" />
        </div>
        <div class="col-lg-4">
            <img src="@Url.ImageWizard().FetchLocalFile("img/meerkat.jpg").AsImage().Resize(400,400).Grayscale().BuildUrl()" />
        </div>
        <div class="col-lg-4">
            <img src="@Url.ImageWizard().FetchLocalFile("img/meerkat.jpg").AsImage().Resize(400,400).Blur().BuildUrl()" />
        </div>
    </div>

    <h2>Fetch remote image</h2>

    <p>@@Url.ImageWizard().Fetch("https://upload.wikimedia.org/wikipedia/commons/b/b7/Europe_topography_map.png").AsImage().Resize(400,400).BuildUrl()</p>
    <p>@Url.ImageWizard().Fetch("https://upload.wikimedia.org/wikipedia/commons/b/b7/Europe_topography_map.png").AsImage().Resize(400, 400).BuildUrl()</p>

    <div class="row">
        <div class="col-lg-4">
            <img src="@Url.ImageWizard().Fetch("https://upload.wikimedia.org/wikipedia/commons/b/b7/Europe_topography_map.png").AsImage().Resize(400,400).BuildUrl()" />
            <p>Default</p>
        </div>
        <div class="col-lg-4">
            <img src="@Url.ImageWizard().Fetch("https://upload.wikimedia.org/wikipedia/commons/b/b7/Europe_topography_map.png").AsImage().Resize(400,400).Grayscale().BuildUrl()" />
            <p>Grayscale</p>
        </div>
        <div class="col-lg-4">
            <img src="@Url.ImageWizard().Fetch("https://upload.wikimedia.org/wikipedia/commons/b/b7/Europe_topography_map.png").AsImage().Resize(400,400).Blur().BuildUrl()" />
            <p>Blur</p>
        </div>
    </div>

    <h2>Placeholder</h2>
    <p>@@Url.ImageWizard().Placeholder(600, 300).BuildUrl()</p>
    <p>@Url.ImageWizard().Placeholder(600, 300).BuildUrl()</p>

    <div class="row">
        <div class="col">
            <img src="@Url.ImageWizard().Placeholder(600, 300).BuildUrl()" />
            <p>600x300</p>
        </div>
    </div>   

    <h2>DPR (Device Pixel Ratio)</h2>

    <p>@@Url.ImageWizard().Fetch("lion.jpg").AsImage().DPR(1).Resize(100,100).BuildUrl()</p>
    <p>@Url.ImageWizard().Fetch("lion.jpg").AsImage().DPR(1).Resize(100,100).BuildUrl()</p>

    <div class="row">
        <div class="col-lg-4">
            <img src="@Url.ImageWizard().FetchLocalFile("img/lion.jpg").AsImage().DPR(1).Resize(100,100).BuildUrl()" />
            <p>DPR 1.0</p>
        </div>
       <div class="col-lg-4">
            <img src="@Url.ImageWizard().FetchLocalFile("img/lion.jpg").AsImage().DPR(2).Resize(100,100).BuildUrl()" />
            <p>DPR 2.0</p>
        </div>
        <div class="col-lg-4">
            <img src="@Url.ImageWizard().FetchLocalFile("img/lion.jpg").AsImage().DPR(3).Resize(100,100).BuildUrl()" />
            <p>DPR 3.0</p>
        </div>
    </div>

    <h2>Use file provider (IFileProvider)</h2>
    <p>@@Url.ImageWizard().File("img/meerkat.jpg").AsImage().Resize(400,400).BuildUrl()</p>
    <p>@Url.ImageWizard().File("img/meerkat.jpg").AsImage().Resize(400, 400).BuildUrl()</p>

    <div class="row">
        <div class="col-lg-4">
            <img src="@Url.ImageWizard().File("img/meerkat.jpg").AsImage().Resize(400,400).BuildUrl()" />
        </div>
        <div class="col-lg-4">
            <img src="@Url.ImageWizard().File("img/meerkat.jpg").AsImage().Resize(400,400).Grayscale().BuildUrl()" />
        </div>
        <div class="col-lg-4">
            <img src="@Url.ImageWizard().File("img/meerkat.jpg").AsImage().Resize(400,400).Blur().BuildUrl()" />
        </div>
    </div>

    <h2>Watermark</h2>
    <p>@@Url.ImageWizard().FetchLocalFile("img/bat-eared-fox.jpg", 4).AsImage().Watermark().BuildUrl()</p>
    <p>@Url.ImageWizard().FetchLocalFile("img/bat-eared-fox.jpg", 4).AsImage().Watermark().BuildUrl()</p>

    <img src="@Url.ImageWizard().FetchLocalFile("img/bat-eared-fox.jpg", 4).AsImage().Resize(400, 400).Watermark().BuildUrl()" />

   @*  <h2>Draw text</h2>
    <p>@@Url.ImageWizard().FetchLocalFile("img/bat-eared-fox.jpg", 4).AsImage().Resize(400, 400).DrawText("bat-eared-fox", 65, 0.3, 0.1, false).BuildUrl()</p>
    <p>@Url.ImageWizard().FetchLocalFile("img/bat-eared-fox.jpg", 4).AsImage().Resize(400, 400).DrawText("bat-eared-fox", 65, 0.3, 0.1, true).BuildUrl()</p>

    <img src="@Url.ImageWizard().FetchLocalFile("img/bat-eared-fox.jpg").AsImage().Resize(400,400).DrawText("bat eared fox", 65, 0.3, 0.1, true).BuildUrl()" /> *@

    <h2>Fetch youtube thumbnail</h2>

    <p>@@Url.ImageWizard().Youtube("lzyWFew_w8Y").Resize(400,400).BuildUrl()</p>
    <p>@Url.ImageWizard().YouTube("lzyWFew_w8Y").Resize(400, 400).BuildUrl()</p>

    <div class="row">
        <div class="col-lg-4">
            <img src="@Url.ImageWizard().YouTube("lzyWFew_w8Y").Resize(600,600).BuildUrl()" />
            <p>Default</p>
        </div>
        <div class="col-lg-4">
            <img src=@Url.ImageWizard().YouTube("lzyWFew_w8Y").Resize(600,600).Grayscale().BuildUrl() />
            <p>Grayscale</p>
        </div>
        <div class="col-lg-4">
            <img src=@Url.ImageWizard().YouTube("lzyWFew_w8Y").Resize(600,600).Blur().BuildUrl() />
            <p>Blur</p>
        </div>
    </div>

    <h2>Use youtube taghelper (GDPR friendly)</h2>

   <div class="alert alert-secondary">
        @("<youtube video-id=\"AQHZQ8p6FCA\" width=\"1920\" height=\"1080\" grayscale=\"true\" blur=\"true\" use-no-cookie=\"true\" />")
    </div>

     <div class="row">
        <div class="col-lg">
            <youtube video-id="AQHZQ8p6FCA" width="1920" height="1080" />
        </div>
        <div class="col-lg">
            <youtube video-id="8gwSU3oaMV8" width="1920" height="1080" grayscale=true blur=true />
        </div>
    </div>

    <h2>Fetch gravatar image</h2>

    <p>@@Url.ImageWizard().Gravatar("MyEmailAddress@example.com").Resize(200,200).BuildUrl()</p>
    <p>@Url.ImageWizard().Gravatar("MyEmailAddress@example.com").Resize(200, 200).BuildUrl()</p>

    <div class="row">
        <div class="col-lg-4">
            <img src="@Url.ImageWizard().Gravatar("MyEmailAddress@example.com").Resize(200,200).BuildUrl()" />
            <p>Default</p>
        </div>
        <div class="col-lg-4">
            <img src=@Url.ImageWizard().Gravatar("MyEmailAddress@example.com").Resize(200,200).Grayscale().BuildUrl() />
            <p>Grayscale</p>
        </div>
        <div class="col-lg-4">
            <img src=@Url.ImageWizard().Gravatar("MyEmailAddress@example.com").Resize(200,200).Blur().BuildUrl() />
            <p>Blur</p>
        </div>
    </div>   

    <h2>PDF (page to image)</h2>
    <p>@@Url.ImageWizard().FetchLocalFile("/pdf/earth.pdf").AsPdf().PageToImage(0).BuildUrl()</p>
    <p>@Url.ImageWizard().FetchLocalFile("/pdf/earth.pdf").AsPdf().PageToImage(0).BuildUrl()</p>

    <img src="@Url.ImageWizard().FetchLocalFile("/pdf/earth.pdf").AsPdf().PageToImage(0).BuildUrl()" />

    <h2>OpenStreetMap</h2>
    <p>Use as relay to openstreetmap server. </p>   

    <div tabindex="650" id="map" style="height:600px"></div>

    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
    <script src="~/lib/leaflet/leaflet.js" asp-append-version="true" ></script>
    <script>
        // Create the map
        var map = L.map('map').setView([45, 10], 4);

        // Set up the OSM layer
        L.tileLayer('https://' + window.location.host + '/image/osm/{z}/{x}/{y}.png').addTo(map);
    </script>
</div>
